{% extends 'base.html' %}

{% load static %}

{% block content %}
<!-- bradcam_area  -->
    <div class="bradcam_area breadcam_bg_2">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="bradcam_text text-center">
                        <h3>About Auxano</h3>
                        <small class="text-warning">What is Auxano?</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/ bradcam_area  -->


    <!-- about wrap  -->
    {% comment %} <div class="about_wrap_area about_wrap_area2"> {% endcomment %}
        <div class="container my-5">
            <div class="row">
                <div class="col-xl-12 col-md-12 col-lg-12">
                    <h2>About the Ministry:</h2>
                    <p>
                        Several years ago, God spoke to our man of God, then a student at the University of 
                        Abuja to teach in love the realities of the Kingdom for the purpose making the Gospel 
                        make sense to ordinary everyday people with questions & concerns. He was led to begin 
                        teaching everyone that was in his sphere, he started from a friend's room before moving 
                        to other facilities within the campus environs. 

                        In the midst of the chaos of 2020, the Lord led His servant to move into the city of 
                        Abuja to start a new work. Not having anyone in the city but with simple obedience to 
                        the voice of God he moved to start up the work.
                        Today, AUXANO GLOBAL exist to make the Gospel make sense to ordinary everyday people 
                        with questions & concerns by teaching in love the realities of the Kingdom, to bring 
                        the healing power of God to the peoples of the world, to communicate Kingdom culture 
                        to ordinary everyday people through the Ministry of the Word and the Spirit.
                    </p>
                </div>
                
            </div>
        </div>
    {% comment %} </div> {% endcomment %}
    <!--/ about wrap  -->

<!-- about  -->
<div class="about_area">
    <div class="container-fluid p-0">
        <div class="row no-gutters align-items-center">
            <div class="col-xl-6 col-lg-6">
                <div class="about_image">
                    <img src="{% static 'img/auxano/pastor.jpg' %}" alt="">
                </div>
            </div>
            <div class="col-xl-6 col-lg-6">
                <div class="about_info">
                    <h3>Pastor Noble Rowland</h3>
                    <p class="mr-3">Pastor Noble Rowland is the Lead Pastor and President of AUXANO GLOBAL. 
                        He is called to the office of the teacher, with thousands of lives touched 
                        around the world in over 4 continents, his teaching Ministry brings to the hearer 
                        the reality of that which is being taught. He is graced with a unique Healing Ministry 
                        after the Lord spoke to him, "Heal the sick in the world! Take My healing power 
                        to the peoples of the world". 
                        He is the convener of several city-wide meetings such as AUXANO (weekly teaching meeting), 
                        ATMOSPHERE OF THE SPIRIT (a special meeting for the demonstration of the Presence, 
                        Character & Gifts of the Spirit), HEALING SCHOOL (a special healing session) and 
                        several other expressions of the Ministry.
                    </p>
                    

                    {% comment %} <div class="about_btn">
                        <a class="boxed-btn3" href="#">About Us</a>
                    </div> {% endcomment %}
                </div>
            </div>
        </div>
    </div>
</div>
<!--/ about  -->


    <!-- financial_solution -->
    <div class="financial_solution_area">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-6">
                    <div class="financial_active owl-carousel">
                        <div class="single_finalcial_wrap">
                            <h3>Our Vision:</h3>
                            <p>To see the church come to full stature, the fullness of Christ. (Eph 4:13)</p>
                        </div>
                        <div class="single_finalcial_wrap">
                            <h3>Our mission:</h3>
                            <p>To teach in love the realities of the Kingdom. (Eph 4:15)</p>
                        </div>
                        <div class="single_finalcial_wrap">
                            <h3>Our purpose:</h3>
                            <p>To make the Gospel make sense to ordinary everyday people with questions and concerns.
                                (Matt 28:18-20)</p>
                        </div>
                        <div class="single_finalcial_wrap">
                            <h3>Our core values:</h3>
                            <p>Spirituality, Excellence, Enthusiasm, Love</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6">
                    <div class="finance_thumb">
                        <img src="{% static 'img/auxano/img1.jpg' %}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/ financial_solution -->

    <div class="container my-3">
        <div class="row">
            <div class="col-xl-12 col-md-12 col-lg-12">
                <h2>Our belief:</h2>
                <p>
                    Our beliefs has its source in the Bible and is in total agreement with the principles 
                    of the doctrines of Christ.
                    <ul>
                        <li class="list_disc">We believe that the Bible contains the inspired and infallible Word of God. 
                            (2 Timothy 3:16, 2 Peter 1:20-21).</li>

                        <li class="list_disc">We believe that there is only one God eternally existent in three persons; 
                            God the Father, God the Son and God the Holy Ghost. 
                            (Ephesians 4:4-6, Gen. 1:26, Matthew 3:16-17, Matthew 28:19).</li>
                        <li class="list_disc">We believe in the deity of Christ. (John 1:1-4; John 10:30; Hebrews 1:1-5).
                            <ul>
                                <li class="list_alpha">He was born of a virgin (Matthew 1:18-25; Luke 1:26-35)</li>
                                <li class="list_alpha">He was conceived of the Holy Ghost (Matthew 1:18-25, Luke 1:30-35)</li>
                                <li class="list_alpha">He died (John 19:30-35)</li>
                                <li class="list_alpha">He rose again from the dead bodily (John 20:25-29, Luke 24:36-40)</li>
                                <li class="list_alpha">He ascended into heaven bodily (1 Thessalonians 4:16-17; Matthew 29-30)</li>
                            </ul>

                        <li class="list_disc">We believe in the rapture of the church and the Second coming of Christ.
                        (1 Thessalonians 4:16-17; 1 Corinthians 15:52; Matthew 24:31; Matthew 24:29-30; Revelation 1:7; Revelation 19:11-16)</li>

                        <li class="list_disc">We believe that the only means of being cleansed from sin is repentance and 
                            faith in the precious blood of Jesus (Acts 3:19, Luke 24:47; Ephesians 1:7).</li>

                        <li class="list_disc">We believe regeneration by the power of the Holy Spirit through the Word of God 
                            is essential for personal salvation (Titus 2:5, John 3:3-5, Ephesians 5:25-27).</li>

                        <li class="list_disc">We believe that the redemptive work of Christ on the cross provides divine healing 
                            for the body, salvation for the soul of everyone that believes. 
                            (1 Peter 2:24; Acts 3:16, Acts 9:32 -35).</li>

                        <li class="list_disc">We believe that when an person receives Salvation through the regeneration 
                            by the Holy Ghost, he receives divine enablement for Christian service and witness. 
                            (Acts 1:8; 2:4; 3:1-26; 4:5–12).</li>

                        <li class="list_disc">We believe in the sanctifying power of the Holy Ghost. 
                            (Romans 15:16; 1 Corinthians 6:11).</li>

                        <li class="list_disc">We believe in the final resurrection of both the saved and the lost; the former 
                            to eternal life and the latter to eternal judgement. 
                            (Revelations 20: 11-15; 1 Corinthians 15: 12–23)</li>
                    </ul>
                </p>
            </div>
            
        </div>
    </div>

    <!-- project  -->
    <div class="project_area">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="project_info text-center text-dark">
                        <h3>A Prayer of Salvation:</h3>
                        <p>
                            Make this Confession & Believe with your heart.

                            Dear God Almighty, 
                            I believe in Jesus Christ, your Son who died for me and was raised from the dead 
                            for my justification. Your Word says in Romans 10 vs. 9-10 
                            “…that if thou shall confess with thy mouth the Lord Jesus, and shall believe 
                            in thine heart that God hath raised him from the dead, thou shall be saved. 
                            For with the heart man believeth unto righteousness; and with the mouth 
                            confession is made unto salvation.” Therefore I confess Jesus Christ as Lord of 
                            my life from this day forth. I receive remission of sins and I receive eternal 
                            life into my spirit through your Holy Spirit who indwells me now.
                            I am saved! I am born-again! I am your son! Hallelujah!
                        </p>
                        <a href="{% url 'contact' %}" class="btn btn-outline-dark btn-lg">Contact Us</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/ project  -->

{% endblock %}