{% extends 'base.html' %}

{% load static %}

{% block content %}
<!-- bradcam_area  -->
    <div class="bradcam_area breadcam_bg_3">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="bradcam_text text-center">
                        <h3>Listen to our Sermons</h3>
                        <small class="text-warning">They are downloadable 😊</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/ bradcam_area  -->


    <!-- about wrap  -->
    {% comment %} <div class="about_wrap_area about_wrap_area2"> {% endcomment %}
    <div class="my-5">
        <div class="container">
            <h2 class="text-center">To download a sermon, right-click on it and select "save audio as"</h2>
            <div class="row my-5">
                {% if audios %}
                {% for audio in audios %}
                <div class="col-xl-4 col-md-6 col-lg-4">
                    <div class="text-center border border-warning p-4">
                    {% comment %} <div class="single_service_wrap text-center"> {% endcomment %}
                        <img src="{% static 'img/svg_icon/controls.png' %}" alt="">
                        <h3 class="my-3">{{ audio.title }}</h3>
                        {% comment %} <p>{{ audio.audio.url }}</p> {% endcomment %}
                        <audio controls>
                            <source src="{{ audio.audio.url }}" type="audio/mpeg">
                            Your browser does not support the audio element.
                        </audio>
                    </div>
                </div>
                {% endfor %}
                {% else %}
                <div class="text-center">
                    <h2>No sermons to show yet</h2>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
    <!--/ about wrap  -->


    <!-- counter  -->
    
    <!--/ counter  -->


    <!-- financial_solution -->
    
    <!--/ financial_solution -->

{% endblock %}